footer {
    .footer {
        &__menu {
            @include small-down() {
                display: flex;
                flex-direction: column;
                text-align: left;
                margin: 10%;
                :nth-child(1) {
                    order: 4;
                }
                :nth-child(2) {
                    order: 3;
                }
                :nth-child(3) {
                    order: 1;
                }
                :nth-child(4) {
                    order: 3;
                }
                :nth-child(5) {
                    order: 3;
                }
                .center {
                    text-align: center;
                }
            }

            padding: 5% 5% 0;
            display: flex;
            flex-direction: row;
            justify-content: center;

            /* .trait {
                @include small-up {
                    height: 1px;
                   
                    display: block;
                }
            }*/
            ul:first-child {
                margin-right: 3%;
            }
            ul {
                margin-right: 4%;
                padding: 0;

                li:first-child {
                    font-weight: 800;
                    margin-top: 0px;
                    @include small-down() {
                        text-transform: uppercase;
                    }
                }

                li {
                    list-style: none;

                    p {
                        font-size: pxToRem(14);
                    }

                    button {
                        margin-top: pxToRem(10);
                    }
                }
            }
            .col-4-md {
                text-align: center;
                margin-top: pxToRem(50);
            }

            img {
                width: 50%;
                @include small-down() {
                    width: 100%;
                }
            }
            .center {
                @include small-down() {
                    text-align: center;
                    border-top: 0.1rem solid $orange;
                    padding-top: pxToRem(15);
                }
            }
        }
        &__infos {
            text-align: center;
            font-size: pxToRem(12);

            @include small-down() {
                font-size: pxToRem(8);
                .copyright {
                    font-weight: bold;
                }
            }
        }
    }
}
