/*body {
  margin-top: 0;
}
/*nav {
  @include small-down() {
    display: none;
  }
}

.listmenu{
  display: none;
  @include small-down() {
display: block;
  }
  }
.c-header {
  background: no-repeat url("~@/assets/draw/forme_header.svg");
  background-position: right bottom -35%;
  height: pxToRem(126);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include small-down() {
    height: pxToRem(60);
    background-position: right bottom 35%;
    margin-bottom: 45px;
  }

  &__logo {
    margin-left: pxToRem(78);
    width: 15%;
    @include small-down() {
      margin-left: pxToRem(30);
      width: 25%;
    }
  }

  &__list {
    margin-right: pxToRem(78);
    list-style: none;
    display: flex;
    font-size: pxToRem(18);
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    @include small-down() {
      margin: 0.875rem;
      display: none;
    }
  }

  li {
    margin: pxToRem(18);
color:black;
    @include medium-only() {
      margin: 0.7rem;
    }
  }

  li > a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $orange;
  }
}
*/
