
@media screen and (max-width: $large) {
    section{
    ._SectionTexteImage{
        display: block;
        width: 100%
    } 
    ._SectionImage{
        height: 325px;
        
       
    }
    .__SectionTexte{
        margin: auto;
        padding: 10px 28px;
        line-height: pxToRem(25);
        position: relative;
        top: 20px;
        ._SectionTexteCouleur{
            color: $orange;
        }  
    } 
    .__SectionImage{
        margin: auto;
        position: relative;
        width: 60px;
        height: 90px;
        
       
    }
  }
    
}
