
//VARIABLES
@import "vars.scss";

//FOUNDATION
@import "foundation/reset.scss";
@import "foundation/functions.scss";
@import "foundation/mixins.scss";
@import "foundation/variable.scss";

// OBJECTS
@import "objects/grid.scss";

//ELEMENTS
@import "elements/buttons.scss";
@import "elements/title.scss";
@import "elements/bandeau.scss";
@import "elements/principal.scss";
@import "elements/reassurance.scss";

//COMPONENTS
@import "components/compte.scss";
@import "components/header.scss";
@import "components/footer.scss";
@import "components/step.scss";
@import "components/values.scss";

html {
    font-size: $rootFontSize ;
}
* {
    font-family: $font;
text-decoration: none;}
